<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.merchant.mapper.MerChannelRouteMapper">
    
    <resultMap type="MerChannelRoute" id="MerChannelRouteResult">
        <result property="id"    column="id"    />
        <result property="merId"    column="mer_id"    />
        <result property="merNo"    column="mer_no"    />
        <result property="merName"    column="mer_name"    />
        <result property="channelId"    column="channel_id"    />
        <result property="channelCode"    column="channel_code"    />
        <result property="channelName"    column="channel_name"    />
        <result property="companyId"    column="company_id"    />
        <result property="companyName"    column="company_name"    />
        <result property="operators"    column="operators"    />
        <result property="areaIds"    column="area_ids"    />
        <result property="hasAmout"    column="has_amout"    />
        <result property="startTime"    column="start_time"    />
        <result property="endTime"    column="end_time"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="status"    column="status"    />
        <result property="sort"    column="sort"    />
    </resultMap>

    <sql id="selectMerChannelRouteVo">
        select id, mer_id, mer_no, mer_name, channel_id, channel_code, channel_name, company_id, company_name, operators, area_ids, has_amout, start_time, end_time, create_time, update_time, status, sort from mer_channel_route
    </sql>

    <select id="selectMerChannelRouteList" parameterType="MerChannelRoute" resultMap="MerChannelRouteResult">
        <include refid="selectMerChannelRouteVo"/>
        <where>  
            <if test="merNo != null  and merNo != ''"> and mer_no = #{merNo}</if>
            <if test="merName != null  and merName != ''"> and mer_name like concat('%', #{merName}, '%')</if>
            <if test="channelCode != null  and channelCode != ''"> and channel_code = #{channelCode}</if>
            <if test="channelName != null  and channelName != ''"> and channel_name like concat('%', #{channelName}, '%')</if>
            <if test="companyName != null  and companyName != ''"> and company_name like concat('%', #{companyName}, '%')</if>
            <if test="operators != null  and operators != ''"> and operators = #{operators}</if>
            <if test="hasAmout != null  and hasAmout != ''"> and has_amout = #{hasAmout}</if>
            <if test="startTime != null "> and start_time = #{startTime}</if>
            <if test="endTime != null "> and end_time = #{endTime}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="sort != null "> and sort = #{sort}</if>
        </where>
    </select>
    
    <select id="selectMerChannelRouteById" parameterType="Long" resultMap="MerChannelRouteResult">
        <include refid="selectMerChannelRouteVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertMerChannelRoute" parameterType="MerChannelRoute" useGeneratedKeys="true" keyProperty="id">
        insert into mer_channel_route
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="merId != null">mer_id,</if>
            <if test="merNo != null">mer_no,</if>
            <if test="merName != null">mer_name,</if>
            <if test="channelId != null">channel_id,</if>
            <if test="channelCode != null">channel_code,</if>
            <if test="channelName != null">channel_name,</if>
            <if test="companyId != null">company_id,</if>
            <if test="companyName != null">company_name,</if>
            <if test="operators != null">operators,</if>
            <if test="areaIds != null">area_ids,</if>
            <if test="hasAmout != null">has_amout,</if>
            <if test="startTime != null">start_time,</if>
            <if test="endTime != null">end_time,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="status != null">status,</if>
            <if test="sort != null">sort,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="merId != null">#{merId},</if>
            <if test="merNo != null">#{merNo},</if>
            <if test="merName != null">#{merName},</if>
            <if test="channelId != null">#{channelId},</if>
            <if test="channelCode != null">#{channelCode},</if>
            <if test="channelName != null">#{channelName},</if>
            <if test="companyId != null">#{companyId},</if>
            <if test="companyName != null">#{companyName},</if>
            <if test="operators != null">#{operators},</if>
            <if test="areaIds != null">#{areaIds},</if>
            <if test="hasAmout != null">#{hasAmout},</if>
            <if test="startTime != null">#{startTime},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="status != null">#{status},</if>
            <if test="sort != null">#{sort},</if>
         </trim>
    </insert>

    <update id="updateMerChannelRoute" parameterType="MerChannelRoute">
        update mer_channel_route
        <trim prefix="SET" suffixOverrides=",">
            <if test="merId != null">mer_id = #{merId},</if>
            <if test="merNo != null">mer_no = #{merNo},</if>
            <if test="merName != null">mer_name = #{merName},</if>
            <if test="channelId != null">channel_id = #{channelId},</if>
            <if test="channelCode != null">channel_code = #{channelCode},</if>
            <if test="channelName != null">channel_name = #{channelName},</if>
            <if test="companyId != null">company_id = #{companyId},</if>
            <if test="companyName != null">company_name = #{companyName},</if>
            <if test="operators != null">operators = #{operators},</if>
            <if test="areaIds != null">area_ids = #{areaIds},</if>
            <if test="hasAmout != null">has_amout = #{hasAmout},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="status != null">status = #{status},</if>
            <if test="sort != null">sort = #{sort},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteMerChannelRouteById" parameterType="Long">
        delete from mer_channel_route where id = #{id}
    </delete>

    <delete id="deleteMerChannelRouteByIds" parameterType="String">
        delete from mer_channel_route where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>