<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<script th:src="@{/js/laydate/laydate.js}"></script>
<head>
    <th:block th:include="include :: header('充值通道订单列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>



                        	<li>
                                <label style="width: 80px">开始时间：</label>
                                <input type="text" class="time-input  test-item" th:value="${startTime}" placeholder="请选择创建时间" id="createTime" name="createTime"/>
                            </li>
                            <li>
                                <label style="width: 80px">结束时间：</label>
                                <input type="text" class="time-input  test-item" th:value="${endTime}"  placeholder="请选择结果时间" id ="resultTime" name="resultTime"/>
                            </li>
                            <li>
                                <label style="width: 80px">商户：</label>
                                <select name="merId" id="merId"  class="form-control m-b">
                                    <option value="">所有</option>
                                    <option th:each="mer : ${merList}" th:text="${mer.merName}" th:value="${mer.id}"></option>
                                </select>
                            </li>
                            <li>
                                <label style="width: 80px">通道：</label>
                                <select name="channelId" id="channelId" class="form-control m-b">
                                    <option value="">所有</option>
                                    <option th:each="channel : ${channelInfoList}" th:text="${channel.channelName}" th:value="${channel.id}"></option>
                                </select>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="time(1)"><i class="fa fa-search">&nbsp;10分钟</i></a>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="time(2)"><i class="fa fa-search">&nbsp;30分钟</i></a>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="time(3)"><i class="fa fa-search">&nbsp;1小时</i></a>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('order:info:edit')}]];
        var removeFlag = [[${@permission.hasPermi('order:info:remove')}]];
        var statusDatas = [[${@dict.getType('order_status')}]];
        var noticeStatusDatas = [[${@dict.getType('notify_status')}]];
        var productTypeDatas = [[${@dict.getType('product_type')}]];
        var channelDatas = [[${@dict.getType('order_channel_name')}]];
        var prefix = ctx + "order/info";
		var noticeUrl= prefix+"/noticeAgain";
		var statusUrl= prefix+"/statusAgain";
        function sreachLog(sysOrderNo) {
            $.modal.open("查看历史记录", prefix+"/detail/"+sysOrderNo,1200,600);
        }
        $(function() {
            var options = {
                url: prefix + "/listChannelReport",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "通道订单统计",
                showSearch: false,
		        showRefresh: false,
		        showToggle: false,
		        showColumns: false,
		        clickToSelect: true,
		        rememberSelected: true,
                detailView: true,
                onExpandRow : function(index, row, $detail) {
                    initChildTable(index, row, $detail);
                },
                columns: [
                {
                    field: 'channelName',
                    title: '通道名称'
                },
                {
                    field: 'count',
                    title: '订单总量'
                },
                {
                    field: 'sumAmt',
                    title: '交易额'
                },
                {
                    field: 'sucCount',
                    title: '成功订单数量'
                },
                {
                    field: 'sucAmt',
                    title: '成功金额'
                },
                {
                    field: 'sysAmt',
                    title: '结算金额'
                },
                {
                    field: 'sucFee',
                    title: '利润'
                },
                {
                    field: 'rate',
                    title: '成功率'
                },
                {
                    field: 'timeConsuming',
                    title: '平均返回时间'
                }
                ]
            };
            $.table.init(options);
        });

    </script>
    <script>
		//执行一个laydate实例
		lay('.test-item').each(function(){
			  laydate.render({
			    elem: this
			    ,trigger: 'click'
			    	,type: 'datetime'
			  });
			});
         function format(date,fmt) {
            var o = {
                "M+": date.getMonth() + 1, // 月份
                "d+": date.getDate(), // 日
                "h+": date.getHours(), // 小时
                "m+": date.getMinutes(), // 分
                "s+": date.getSeconds(), // 秒
                "q+": Math.floor((date.getMonth() + 3) / 3), // 季度
                "S": date.getMilliseconds() // 毫秒
            };
            if (/(y+)/.test(fmt))
                fmt = fmt.replace(RegExp.$1, (date.getFullYear() + "").substr(4 - RegExp.$1.length));
            for (var k in o)
                if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
            return fmt;
        }
        function time(type) {
            var time = new Date().getTime();
            if(type==1){
                document.getElementById("createTime").value=format(new Date(time-12 * 60 * 1000),"yyyy-MM-dd hh:mm:ss");
                document.getElementById("resultTime").value=format(new Date(time-2 * 60 * 1000),"yyyy-MM-dd hh:mm:ss");
                $.table.search();
            }
            else if(type==2){
                document.getElementById("createTime").value=format(new Date(time-32 * 60 * 1000),"yyyy-MM-dd hh:mm:ss");
                document.getElementById("resultTime").value=format(new Date(time-2 * 60 * 1000),"yyyy-MM-dd hh:mm:ss");
                $.table.search();
            }else if(type==3){
                document.getElementById("createTime").value=format(new Date(time-62 * 60 * 1000),"yyyy-MM-dd hh:mm:ss");
                document.getElementById("resultTime").value=format(new Date(time-2 * 60 * 1000),"yyyy-MM-dd hh:mm:ss");
                $.table.search();
            }

        }
        initChildTable = function(index, row, $detail) {
            var childTable = $detail.html('<table style="table-layout:fixed"></table>').find('table');
            $(childTable).bootstrapTable({
                url: prefix + "/listChannelAmtReport",
                method: 'post',
                sidePagination: "server",
                contentType: "application/x-www-form-urlencoded",
                queryParams : {
                    createTime: document.getElementById("createTime").value,
                    resultTime: document.getElementById("resultTime").value,
                    merId:document.getElementsByName("merId").value,
                    channelId: row.channelId
                },
                columns: [
                    {
                        field: 'amt',
                        title: '面额'
                    },
                    {
                        field: 'count',
                        title: '订单总量'
                    },
                    {
                        field: 'sumAmt',
                        title: '交易额'
                    },
                    {
                        field: 'sucCount',
                        title: '成功订单数量'
                    },
                    {
                        field: 'sucAmt',
                        title: '成功金额'
                    },
                    {
                        field: 'sysAmt',
                        title: '结算金额'
                    },
                    {
                        field: 'sucFee',
                        title: '利润'
                    },
                    {
                        field: 'rate',
                        title: '成功率'
                    },
                    {
                        field: 'timeConsuming',
                        title: '平均返回时间'
                    }
                    ]
            });
        };
	</script>
</body>
</html>