<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('商户基础信息列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            </li>
                            <li>
                                <label>公司：</label>
                                <select name="companyId">
                                    <option value="">所有</option>
                                    <option th:each="company : ${companyList}" th:text="${company.companyName}" th:value="${company.id}"></option>
                                </select>
                            </li>
                            <li>
                                <label>商户编号：</label>
                                <input type="text" name="merNo"/>
                            </li>
                            <li>
                                <label>商户全称：</label>
                                <input type="text" name="merName"/>
                            </li>
                            <li>
                                <label>商户简称：</label>
                                <input type="text" name="merShortName"/>
                            </li>
                            <li>
                                <label>商户类型：</label>
                                <select name="merType" th:with="type=${@dict.getType('mer_type')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <label>商户状态</label>
                                <select name="status" th:with="type=${@dict.getType('all_status')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="merchant:merinfo:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <!--<a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="merchant:merinfo:edit">-->
                    <!--<i class="fa fa-edit"></i> 修改-->
                <!--</a>-->
                <!--<a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="merchant:merinfo:remove">-->
                    <!--<i class="fa fa-remove"></i> 删除-->
                <!--</a>-->
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="merchant:merinfo:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('merchant:merinfo:edit')}]];
        var removeFlag = [[${@permission.hasPermi('merchant:merinfo:remove')}]];
        var merTypeDatas = [[${@dict.getType('mer_type')}]];
        var statusDatas = [[${@dict.getType('all_status')}]];
        var amountFlag = [[${@permission.hasPermi('merchant:merinfo:amount')}]];
        var prefix = ctx + "merchant/merinfo";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "商户基础信息",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: '主键',
                    visible: false
                },
                {
                    field: 'companyName',
                    title: '公司名称'
                },
                {
                    field: 'merNo',
                    title: '商户编号'
                },
                {
                    field: 'merName',
                    title: '商户全称'
                },
                {
                    field: 'merShortName',
                    title: '商户简称'
                },
                {
                    field: 'merType',
                    title: '商户类型',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(merTypeDatas, value);
                    }
                },
                {
                    field: 'status',
                    title: '商户状态',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(statusDatas, value);
                    }
                },
                    {
                        field: 'creditAmt',
                        title: '授信总金额',
                        formatter: function(value, row, index) {
                            return row.creditAmt/100;
                        }
                    },
                    {
                        field: 'creditUseAmt',
                        title: '已使用授信额度',
                        formatter: function(value, row, index) {
                            return row.creditUseAmt/100;
                        }
                    },
                    {
                        field: 'creditBalanceAmt',
                        title: '授信余额',
                        formatter: function(value, row, index) {
                            return row.creditBalanceAmt/100;
                        }
                    },
                    {
                        field: 'creditFixAmt',
                        title: '处理中授信资金',
                        formatter: function(value, row, index) {
                            return row.creditFixAmt/100;
                        }
                    },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + amountFlag + '" href="javascript:void(0)" onclick="addAmount(\'' + row.id + '\')"><i class="fa fa-"></i>增加授信额</a> ');
                        actions.push('<a class="btn btn-success btn-xs ' + amountFlag + '" href="javascript:void(0)" onclick="reduceAmount(\'' + row.id + '\')"><i class="fa fa-"></i>减少授信额</a> ');
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="googleCode(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
        function addAmount(id){
            $.modal.open('添加授信额', prefix + "/addAmount?id="+id, '900', '320', addcallback);
        }
        function reduceAmount(id){
            $.modal.open('减少授信额', prefix + "/reduceAmount?id="+id, '900', '320', reducecallback);
        }
        function googleCode(id){
            $.modal.open('谷歌验证码', prefix + "/googleCode?id="+id, '800', '200', googlecallback);
        }
        function googlecallback(index, layero) {
            var dataParam=$(layero).find("iframe")[0].contentWindow.formData();
            $.post(prefix + "/removeMer",dataParam,function(result){
                layer.alert(result,function(){
                    window.parent.location.reload();//刷新父页面
                    parent.layer.close(index);//关闭弹出层
                });
            });
        }
        function addcallback(index, layero) {
            var dataParam=$(layero).find("iframe")[0].contentWindow.formData();
            $.post(prefix + "/addSaveAmount",dataParam,function(result){
                layer.alert(result,function(){
                    window.parent.location.reload();//刷新父页面
                    parent.layer.close(index);//关闭弹出层
                });
            });
        }
        function reducecallback(index, layero) {
            var dataParam=$(layero).find("iframe")[0].contentWindow.formData();
            $.post(prefix + "/reduceSaveAmount",dataParam,function(result){
                layer.alert(result,function(){
                    window.parent.location.reload();//刷新父页面
                    parent.layer.close(index);//关闭弹出层
                });
            });
        }
    </script>
</body>
</html>