<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<script th:src="@{/js/laydate/laydate.js}"></script>
<head>
    <th:block th:include="include :: header('资金利润统计')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label style="width: 80px">开始时间：</label>
                                <input type="text" class="time-input  test-item" th:value="${startTime}" placeholder="请选择开始时间" name="startTime"/>
                            </li>
                            <li>
                                <label style="width: 80px">结束时间：</label>
                                <input type="text" class="time-input  test-item" th:value="${endTime}"  placeholder="请选择结束时间" name="endTime"/>
                            </li>
                            <li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "capital/capitalInfo";
        $(function() {
            var options = {
                url: prefix + "/profitList",
                searchLogUrl: prefix + "/searchLog",
                payLogUrl: prefix + "/payLog",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "资金信息",
                showFooter: true,
                footerStyle: footerStyle,
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: '',
                    visible: false
                },
                {
                    field: 'merName',
                    title: '下游名称',
                    formatter: function(value, row, index) {
                        return '贵州梦里大网络科技有限公司';
                    }
                },
                {
                    field: 'channelName',
                    title: '上游名称'
                },
                    {
                        field: 'successAmt',
                        title: '上游价格',
                        formatter: function(value, row, index) {
                            return '98.73%';
                        }

                    },
                    {
                        field: 'successAmt',
                        title: '下游价格',
                        formatter: function(value, row, index) {
                            return '98.83%';
                        }

                    },
                    {
                        field: 'successAmt',
                        title: '成功总金额(元)',
                        formatter: function(value, row, index) {
                            return row.successAmt.toFixed(2);
                        }
                    },
                    {
                        field: 'successAmt',
                        title: '利润',
                        formatter: function(value, row, index) {
                            return (row.successAmt/1000).toFixed(4);
                        }

                    },
                {
                    field: 'updateTime',
                    title: '更新时间'
                },

                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        // actions.push('<a class="btn btn-success btn-xs " href="javascript:void(0)" onclick="sreachLog(\''+ row.channelId +'\')"><i class="fa fa-search"></i>查看历史合计</a> ');
                        // actions.push('<a class="btn btn-success btn-xs " href="javascript:void(0)" onclick="sreachPayLog(\''+ row.channelId +'\')"><i class="fa fa-search"></i>查看转账记录</a> ');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);

        });
        function footerStyle(column) {
            return {
                successAmt: {
                    css: { color: 'red', 'font-weight': 'normal' }
                },
                unpaidAmt: {
                    css: { color: 'red', 'font-weight': 'normal' }
                },
                paidAmt: {
                    css: { color: 'red', 'font-weight': 'normal' }
                }
            }[column.field]
        }
        //执行一个laydate实例
        lay('.test-item').each(function(){
            laydate.render({
                elem: this
                ,trigger: 'click'
                ,type: 'datetime'
            });
        });
    </script>
</body>
</html>