<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('资金日志列表')" />
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId" th:object="${capitalInfo}">
                <div class="select-list">
                    <ul>

                        <li>
                            <label>状态：</label>
                            <select name="status">
                                <option value="">所有</option>
                                <option value="1">成功</option>
                                <option value="2">失败</option>
                            </select>
                        </li>
                        <li>
                            <input type="text" name="merId" th:field="*{merId}" style="display:none"/>
                        </li>
                        <li>
                            <input type="text" name="channelId" th:field="*{channelId}" style="display:none"/>
                        </li>
                        <li>
                            <input type="text" name="companyId" th:field="*{companyId}" style="display:none"/>
                        </li>
                        <li>
                            <label>日志日期：</label>
                            <input type="text" class="time-input" placeholder="请选择日志日期" name="logDate"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>

                    </ul>
                </div>
            </form>
        </div>
     <div class="container-div">
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('capital:capitalLog:edit')}]];
        var removeFlag = [[${@permission.hasPermi('capital:capitalLog:remove')}]];
        var prefix = ctx + "capital/capitalLog";

        $(function() {
            var options = {
                url: prefix + "/listLog",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "资金日志",
                showFooter: true,
                columns: [{
                    checkbox: true
                },
                {
                    field: 'logDate',
                    title: '日志日期'
                },
                    {
                        field: 'merName',
                        title: '商户名称'
                    },
                    {
                        field: 'companyName',
                        title: '公司名称'
                    },
                {
                    field: 'id',
                    title: '',
                    visible: false
                },
                    {
                        field: 'successAmt',
                        title: '成功总金额',
                        formatter: function(value, row, index) {
                            return row.successAmt.toFixed(2);
                        },
                        footerFormatter:function (value) {
                            var sumAmt = 0;
                            for (var i in value) {
                                sumAmt += parseFloat(value[i].successAmt);
                            }
                            return "总金额：" + sumAmt.toFixed(2);
                        }
                    },
                    {
                        field: 'unpaidAmt',
                        title: '应付总金额',
                        formatter: function(value, row, index) {
                            return row.unpaidAmt.toFixed(2);
                        },
                        footerFormatter:function (value) {
                            var sumAmt = 0;
                            for (var i in value) {
                                sumAmt += parseFloat(value[i].unpaidAmt);
                            }
                            return "总金额：" + sumAmt.toFixed(2);
                        }
                    },
                    {
                        field: 'unpaidAmt',
                        title: '未支付总金额',
                        formatter: function(value, row, index) {
                            return (row.unpaidAmt-row.paidAmt).toFixed(2);
                        },
                        footerFormatter:function (value) {
                            var sumAmt = 0;
                            for (var i in value) {
                                sumAmt += parseFloat(value[i].unpaidAmt);
                                sumAmt -= parseFloat(value[i].paidAmt);
                            }
                            return "总金额：" + sumAmt.toFixed(2);
                        }
                    },
                    {
                        field: 'paidAmt',
                        title: '已支付总金额',
                        formatter: function(value, row, index) {
                            return row.paidAmt.toFixed(2);
                        },
                        footerFormatter:function (value) {
                            var sumAmt = 0;
                            for (var i in value) {
                                sumAmt += parseFloat(value[i].paidAmt);
                            }
                            return "总金额：" + sumAmt.toFixed(2);
                        }
                    },
                {
                    field: 'status',
                    title: '状态',
                    visible: false
                },
                {
                    field: 'merId',
                    title: '商户id',
                    visible: false
                },
                {
                    field: 'channelId',
                    title: '通道id',
                    visible: false
                },


              ]
            };
            $.table.init(options);
        });
        function footerStyle(column) {
            return {
                successAmt: {
                    css: { color: 'red', 'font-weight': 'normal' }
                },
                unpaidAmt: {
                    css: { color: 'red', 'font-weight': 'normal' }
                },
                paidAmt: {
                    css: { color: 'red', 'font-weight': 'normal' }
                }
            }[column.field]
        }
    </script>
</body>
</html>